In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_palette("pastel")

In [17]:
sample_df = pd.read_csv('OrigFiles/columns-samples.csv')
donor_df = pd.read_csv('OrigFiles/DonorInformation.csv')  
protein_df = pd.read_csv('OrigFiles/ProteinAndPathologyQuantifications.csv')
ME_TCx_df = pd.read_csv('dataFiles/ME_TCx.csv')  
ME_TCx_df.rename(columns={'Unnamed: 0': 'rnaseq_profile_id'}, inplace=True)
display(sample_df.head(2))
display(donor_df.head(2))
display(protein_df.head(2))
display(ME_TCx_df.head(2))

,rnaseq_profile_id,donor_id,donor_name,specimen_id,specimen_name,rna_well_id,polygon_id,structure_id,structure_acronym,structure_color,structure_name,hemisphere
0,488395315,309335467,H14.09.030,309357843,H14.09.030.TCx.01,395325172,320817998,10235,TCx,#ebbfd0,temporal neocortex,left
1,496100277,309335441,H14.09.004,309357624,H14.09.004.PCx.01,320630866,310967169,10557,FWM,#f2f1f0,white matter of forebrain,right

,donor_id,name,age,sex,apo_e4_allele,education_years,age_at_first_tbi,longest_loc_duration,cerad,num_tbi_w_loc,dsm_iv_clinical_diagnosis,control_set,nincds_arda_diagnosis,ever_tbi_w_loc,race,hispanic,act_demented,braak,nia_reagan
0,326765665,H14.09.078,87,M,N,16,0,Unknown or N/A,0,0,No Dementia,31,No Dementia,N,White,Not Hispanic,No Dementia,1,1
1,326765656,H14.09.069,95-99,M,N,17,12,1-2 min,2,1,No Dementia,26,No Dementia,Y,White,Not Hispanic,No Dementia,5,2

,donor_id,donor_name,structure_id,structure_acronym,ihc_a_syn,ihc_tau2_ffpe,ihc_at8_ffpe,ihc_at8,ihc_ptdp_43_ffpe,ihc_a_beta_ffpe,...,il_4_pg_per_mg,rantes_pg_per_mg,ab40_pg_per_mg,a_syn_pg_per_mg,ifn_g_pg_per_mg,mcp_1_pg_per_mg,bdnf_pg_per_mg,mip_1a_pg_per_mg,il_7_pg_per_mg,ab42_pg_per_mg
0,309335467,H14.09.030,10557,FWM,0.000078,0.002358,0.001137,0.000110,0.001259,0.008335,...,2.68,15.99,0.736100,0.122288,1.47,20.78,5.03736,9.38,11.78,523.292251
1,309335480,H14.09.043,10208,PCx,0.000063,0.002762,0.001272,0.000164,0.002354,0.005047,...,3.02,24.04,0.669094,0.111962,1.44,40.40,4.95462,8.10,45.02,81.493875

,rnaseq_profile_id,MEs.TCx_M01,MEs.TCx_M02,MEs.TCx_M03,MEs.TCx_M04,MEs.TCx_M05,MEs.TCx_M06,MEs.TCx_M07,MEs.TCx_M08,MEs.TCx_M09,...,MEs.TCx_M11,MEs.TCx_M12,MEs.TCx_M13,MEs.TCx_M14,MEs.TCx_M15,MEs.TCx_M16,MEs.TCx_M17,MEs.TCx_M18,MEs.TCx_M19,MEs.TCx_M20
0,496100279,0.039184,0.034343,0.021258,-0.008264,-0.071908,0.159458,0.053102,0.023666,0.082896,...,0.007904,-0.068609,-0.005803,-0.029395,-0.032729,-0.013215,-0.067326,0.117263,0.068675,0.089687
1,496100285,0.065922,0.038635,0.050616,0.071675,-0.103684,0.062770,0.040044,0.050806,0.079763,...,0.031988,-0.055031,-0.042466,-0.029215,0.043728,-0.087149,-0.087659,-0.034737,0.038817,-0.024488

In [35]:
donor_protein_df = pd.merge(donor_df, protein_df,  how='inner', on='donor_id')
print(donor_protein_df.shape)

#join on both donor_id and structure_id
rnasample_donor_protein_df = pd.merge(donor_protein_df, sample_df,  how='inner', on= ['donor_id', 'structure_id'])
print(rnasample_donor_protein_df.shape)

protein_me_df = pd.merge(rnasample_donor_protein_df, ME_TCx_df,  how='inner', left_on='rnaseq_profile_id', right_on = 'rnaseq_profile_id')
print(protein_me_df.shape)

(107, 19)
(377, 33)
(377, 51)

In [39]:
print("For each pair of regions, determine the module overlap.")
modAssigns = NULL
for (r in regions)
 modAssigns = cbind(modAssigns,wgcna[[r]][["moduleColors"]])
colnames(modAssigns) = regions
rownames(modAssigns) = genes

(98, 81)

467056407    1
326765663    1
326765661    1
326765660    1
326765659    1
            ..
309335466    1
309335465    1
467056406    1
309335463    1
467056405    1
Name: donor_id, Length: 98, dtype: int64